<div class="imageblock">
<div class="content">
<img src="img/nestset.png" alt="nestset">
</div>
</div>
<div class="paragraph">
<p><strong>Spacing between parts</strong> - This is set to the distance between each of the parts in the nest.</p>
</div>
<div class="paragraph">
<p><strong>Nest start corner</strong> - This is the corner where the nest should start placing parts. The bottom left will nest all parts in the corner and work outwards. Other options include bottom right, top left, and top right.</p>
</div>
<div class="paragraph">
<p><strong>Allow nesting inside holes</strong> - This option is available to allow the nesting of parts inside holes of other parts within the nest.</p>
</div>
<div class="paragraph">
<p><strong>Spread out parts on the last layout with no remainders</strong> - This option spreads the part on the last layout by increasing the gap between parts if the remainder sheet width/height after nesting is less than the minimum remainder sheet width.</p>
</div>
<div class="paragraph">
<p><strong>Avoid placing thin long parts along slats</strong> - This option will set the orientation of long thin parts across slats so that it is stable.</p>
</div>
<div class="paragraph">
<p><strong>Minimise the number of different layouts</strong> - This option increases the packing as much as possible on each layout to reduce the number of sheets used.</p>
</div>
<div class="paragraph">
<p><strong>Spread out parts after nesting</strong> - This option is comparable to "Spread out parts on the last layout with no remainders", however after nesting, no remainder sheet is left out. Thus, the impact of the cutting is evenly spread across the sheet.</p>
</div>