<div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_loading">Loading</a></li>
<li><a href="#_measurement">Measurement</a></li>
<li><a href="#_sheet_loading_position">Sheet loading position</a></li>
<li><a href="#_sheet_loading_tolerance">Sheet loading tolerance</a></li>
</ul>
</div>
<div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Based on the user preference, the parameters to handle a sheet can be modified in <strong>Sheet Handling</strong>.<br></p>
</div>
<div class="paragraph">
<p>Navigate to <strong>Application Settings &#8594; Cut CAM &#8594; Layout &#8594; Sheet handling</strong>.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="img/ne133.png" alt="ne133">
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_loading">Loading</h2>
<div class="sectionbody">
<div class="paragraph">
<p><strong>Sheet loading method</strong> - Depending on the machine and extras, this option is to set up how a sheet will be loaded onto the machine. The options include:<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p>manual</p>
</li>
<li>
<p>pallet changer</p>
</li>
<li>
<p>various options for LiftMaster</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong>Loading corner</strong> - This option is used to set up which corner of the sheet will be loaded into the machine first when using a LiftMaster. The options include:<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p>Bottom left</p>
</li>
<li>
<p>Bottom right</p>
</li>
<li>
<p>Top right</p>
</li>
<li>
<p>Top left</p>
</li>
</ul>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_measurement">Measurement</h2>
<div class="sectionbody">
<div class="paragraph">
<p><strong>Measure sheet position</strong> - This option is used to set up whether the sheet is to be measured. The options are either:<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p>don&#8217;t measure</p>
</li>
<li>
<p>with height regulation</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong>Measuring corner</strong> - When the measure sheet position is set to 'With height regulation', this setting is used to set up where the sheet will be measured from. The options include:<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p>Bottom left</p>
</li>
<li>
<p>Bottom right</p>
</li>
<li>
<p>Top right</p>
</li>
<li>
<p>Top left</p>
</li>
</ul>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_sheet_loading_position">Sheet loading position</h2>
<div class="sectionbody">
<div class="paragraph">
<p><strong>X &amp; Y</strong> -These settings are used to set up the sheet loading position in the X and Y axis of the machine.  This can be between 0 &gt; 10000 millimeters.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_sheet_loading_tolerance">Sheet loading tolerance</h2>
<div class="sectionbody">
<div class="paragraph">
<p><strong>Max. sheet loading error in X</strong> - Maximum error in loading the sheet on the table along the X direction.</p>
</div>
<div class="paragraph">
<p><strong>Max. sheet loading error in Y</strong> - Maximum error in loading the sheet on the table along the Y direction.</p>
</div>
<div class="paragraph">
<p><strong>Max. sheet loading angle error</strong> - Maximum angle error in loading sheet on the table.</p>
</div>
</div>
</div>