<div class="imageblock left">
<div class="content">
<img src="img/worksupport.png" alt="worksupport" width="200">
</div>
</div>
<div class="imageblock">
<div class="content">
<img src="img/worksupport1.png" alt="worksupport1" width="600">
</div>
</div>
<div class="paragraph">
<p><strong>Distance between slats</strong> - This setting is to state the distance between slats on the machine.</p>
</div>
<div class="paragraph">
<p><strong>Offset of the first slat from machine origin</strong> - This setting is used to define the offset of the first slat from the machine origin.</p>
</div>
<div class="paragraph">
<p><strong>Offset of the first pin in a slat</strong> - This setting is used to define the offset of the first pin in a slat.</p>
</div>
<div class="paragraph">
<p><strong>Distance between support pins in a slat</strong> - This setting is used to define the distance between the support pins in a slat.</p>
</div>
<div class="paragraph">
<p><strong>Slats are along X-axis (horizontal)</strong> - Enable this if the slats are horizontal along the X-axis.</p>
</div>
<div class="paragraph">
<p><strong>Pins in alternate slats are at an offset</strong> - Enable this if the pins in alternate slats are at an offset.</p>
</div>